@import '../../styles/_variables.scss';

.slide {
  position: relative;
}

.synopsis {
  max-width: 300px;
  position: absolute;
  top: 9.7rem;
  left: 4rem;
  margin-top: 15px;
  overflow-y: auto;
  max-height: calc(100% - 9.7rem - 6rem);

  p {
    font: 2.4rem/2.8rem $default-font;
    font-weight: 400;
    margin-top: -15px;
  }

  @media(max-width: $breakpoint-small) {
    top: 7.2rem;
    left: 2.5rem;
    right: 2.5rem;

    p {
      font: 1.8rem/2.2rem $default-font;
    }
  }

  a {
    color: white;
  }
}

.dots {
  position: absolute;
  bottom: 20px;
  list-style: none;
  display: flex !important;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    opacity: 0.4;
    transition: 0.4s ease-in-out;

    button {
      width: 20px;
      height: 20px;
      opacity: 0;
      position: relative;
      z-index: 20;
      cursor: pointer;
    }

    &:after {
      content: " ";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 10%;
      height: 10%;
      background: white;
      border-radius: 10px;
      transition: 0.4s;
    }

    &:hover, &.slick-active {
      &:after {
        width: 60%;
        height: 60%;
        transition: 0.4s cubic-bezier(0.370, 0.560, 0.445, 1.525);
      }
    }
  }

  &:hover li {
    opacity: 1;
  }
}

// slick sider overrides
:global {
  .slick-initialized .slick-slide {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: auto;
      height: auto;
    }
  }

  .slick-dots {
    bottom: 20px;
  }

  .slick-active {
    &:after {
      width: 60% !important;
      height: 60% !important;
      transition: 0.4s cubic-bezier(0.370, 0.560, 0.445, 1.525);
    }
  }
}