@import '../../../styles/_variables.scss';

.nav {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translate3d(0, -50%, 0);
  display: flex;
  flex-direction: column;

  .pageDot {
    opacity: 0.4;
    transition: 0.4s ease-in-out;
  }

  &:hover .pageDot {
    opacity: 1;
  }
}

.pageDot {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;

  &:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 10%;
    height: 10%;
    background: white;
    border-radius: 10px;
    transition: 0.4s;
  }

  &:hover, &.pageDotActive {
    &:after {
      width: 60%;
      height: 60%;
      transition: 0.4s cubic-bezier(0.370, 0.560, 0.445, 1.525);
    }
  }

  @media (max-width: $breakpoint-medium) {
    display: none;
  }
}