@import '../../styles/_variables.scss';

.h1, .h2 {
  font: 2.5rem/1rem $default-font;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.h2 {
  margin-bottom: 5rem;
}

p {
  font: 3.8rem/4.2rem $default-font;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.slide {
  width: 100vw;
  height: 100vh;
  padding: 4rem;
  box-sizing: border-box;
  position: relative;
}
