.nav {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translate3d(0, -50%, 0);
}

.pageDot {
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 4px 0;
}